[transfer]
mode = off
host = www.web-server.de
path = accounting/public
service = lustre

[storage]
file_system = /lustre
fs_long_name = Lustre

[base_chart]
report_dir = /tmp/

[usage_pie_chart]
filename = usage_pie.svg
num_top_groups = 8

[usage_quota_bar_chart]
filename = usage+quota_bar.svg

[quota_pct_bar_chart]
filename = soft_quota_pcnt.svg
