[execution]
mode = monthly
transfer = off

[transfer]
host = www.hpc.gsi.de
path = accounting/public
service = nyx

[mysqld]
host =
user =
password =

[robinhood]
database = robinhood_fs
acct_stat_table = ACCT_STAT

[storage]
filesystem = /lustre/fs
long_name = Lustre Nyx

[base_chart]
report_dir = /home/iannetti/tmp/reports/monthly
num_top_groups = 8