[transfer]
mode = off
host = www.hpc.gsi.de
path = accounting/public
service = hebe

[storage]
file_system_1 = /lustre/nyx
file_system_2 = /lustre/hebe
file_system_name_1 = Nyx
file_system_name_2 = Hebe

[base_chart]
report_dir = /home/lfsmon/Reports/weekly/

[group_files_migration_bar_chart]
filename = nyx_hebe_group_files_migration.svg
files_threshold = 1000000
