[execution]
mode = monthly
transfer = off

[transfer]
host = www.hpc.gsi.de
path = accounting/public
service = nyx

[mysqld]
host =
user =
password =

[robinhood]
database = robinhood_fs
table = ACCT_STAT

[report]
database = report_fs
table = ACCT_STAT_HISTORY

[storage]
filesystem = /lustre/fs
long_name = Lustre Nyx

[base_chart]
report_dir = /home/iannetti/tmp/reports/monthly

[time_series_chart]
date_format = %Y-%m-%d
start_date = 2018-12-01
end_date = 2018-12-31

[usage_trend_chart]
filename = usage_trend.svg
