[mysqld]
host =
user =
password =

[robinhood]
database = robinhood_fs
acct_stat_table = ACCT_STAT

[storage]
filesystem = /lustre/fs
long_name = Lustre Nyx
short_name = nyx

[base_chart]
report_dir = /home/iannetti/tmp/reports
num_top_groups = 8

[usage_pie_chart]
filename = {SHORTNAME}_usage_pie_{TIMEPOINT}.svg

[usage_quota_bar_chart]
filename = {SHORTNAME}_usage+quota_bar_{TIMEPOINT}.svg

[quota_pct_bar_chart]
filename = {SHORTNAME}_soft_quota_pcnt_{TIMEPOINT}.svg