[execution]
mode = weekly
transfer = off

[transfer]
host = www.hpc.gsi.de
path = accounting/public
service = nyx

[mysqld]
host =
user =
password =

[robinhood]
database = robinhood_fs
acct_stat_table = ACCT_STAT

[storage]
filesystem = /lustre/fs
long_name = Lustre Nyx

[base_chart]
report_dir = /home/iannetti/tmp/reports/weekly
num_top_groups = 8

[usage_pie_chart]
filename = usage_pie.svg

[usage_quota_bar_chart]
filename = usage+quota_bar.svg

[quota_pct_bar_chart]
filename = soft_quota_pcnt.svg