[lustre]
file_system = /lustre/nyx

[mysqld]
host = lxrbh1.gsi.de
user = robinhood
password =

[history]
database = report_nyx
table = GROUP_QUOTA_HISTORY

[robinhood]
database = robinhood_nyx
table = ACCT_STAT
