[transfer]
mode = off
host = www.hpc.gsi.de
path = accounting/public
service = lustre

[storage]
file_system_1 = /lustre/a
file_system_2 = /lustre/b
file_system_name_1 = A
file_system_name_2 = B

[base_chart]
report_dir = /tmp

[group_files_migration_bar_chart]
filename = nyx_hebe_group_files_migration.svg
files_threshold = 1000000
