[execution]
transfer = off

[transfer]
host = www.hpc.gsi.de
path = accounting/public
service = nyx

[mail]
server =
sender =
recipient =

[mysqld]
host =
user =
password =

[robinhood]
database = robinhood_fs
table = ACCT_STAT

[report]
database = report_fs
acct_table = ACCT_STAT_HISTORY
quota_table = GROUP_QUOTA_HISTORY

[storage]
filesystem = /lustre/fs
long_name = Lustre Nyx

[base_chart]
report_dir = /home/iannetti/tmp/reports/monthly

[time_series_chart]
date_format = %Y-%m-%d
prev_months = 6

[usage_trend_chart]
filename = usage_trend.svg
threshold = 329853488332800

[quota_trend_chart]
filename = soft_quota_trend.svg